# Entornos virtuales
venv/
env/
__pycache__/
*.pyc

# Datasets cacheados por scikit-learn
scikit_learn_data/

# Archivos de configuración local NO SUBIR
.env

# Archivos temporales
*.log
*.tmp
.DS_Store